@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./prism.css";

h1 {
    font-size: 2.25rem; /* Tailwind's text-3xl */
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  h2 {
    font-size: 1.875rem; /* Tailwind's text-2xl */
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  h3 {
    font-size: 1.5rem; /* Tailwind's text-xl */
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: darkgrey;
  }
  